# List

In [10]:
#Old way to do it
st1 = "asad"
st2 = "saad"
st3 = "Fahad"

#New way to do it
#How to do it ?
# VARIABLE = [LIST VALUE 0, LIST VALUE 1, .....]
sts = ["asad","saad","fahad","imran","kashif","arslan","ali","ahmed"] # this will create list and use indexing.

In [11]:
len (sts) #Used to show length of list

8

In [12]:
sts[0]

'asad'

In [14]:
alist = ["string", 123.5,67, False] # We can use string, intiger, bolean, float, in a single list

In [16]:
alist

['string', 123.5, 67, False]

In [22]:
alist.append("He") # this will add new value hello world at the end of the list
alist

['string',
 123.5,
 'Fasih',
 67,
 False,
 'Hello World',
 'Hello World',
 'Hello World',
 'He',
 'He']

In [24]:
alist.insert(2,"Fasih") # insert a value on index 2
alist

['string',
 123.5,
 'Fasih',
 'Fasih',
 'Fasih',
 67,
 False,
 'Hello World',
 'Hello World',
 'Hello World',
 'He',
 'He']

In [31]:
del alist[2]
alist

['string', 123.5, 'Hello World', 'Hello World', 'Hello World', 'He', 'He']

In [37]:
list2 = [11,22,33,44,55,66,77,88,99]
list2

[11, 22, 33, 44, 55, 66, 77, 88, 99]

In [39]:
list2 = [11,22,33,44,55,66,77,88,99]
list2.remove(77)
list2

[11, 22, 33, 44, 55, 66, 88, 99]

In [41]:
list2.append("hello")
list2

[11, 22, 33, 44, 55, 66, 88, 99, 'hello', 'hello']

In [43]:
list2.clear()
list2

[]

In [44]:
list3 = [11,11,11,11,22,22,22,22,22,33,44,55,66,77,88,99,99]
list3

[11, 11, 11, 11, 22, 22, 22, 22, 22, 33, 44, 55, 66, 77, 88, 99, 99]

In [49]:
list3.count(22)

5

In [50]:
list3.count(11)

4

In [51]:
list4 = [11,11,44,22,33,11,10,99,88,87,55]
list4

[11, 11, 44, 22, 33, 11, 10, 99, 88, 87, 55]

In [53]:
list4.sort()
list4

[10, 11, 11, 11, 22, 33, 44, 55, 87, 88, 99]

In [59]:
list4.sort(reverse = True) # reverse sort the list
list4

[99, 88, 87, 55, 44, 33, 22, 11, 11, 11, 10]

In [68]:
#Pass by reference
list5 = list4.copy() # Copy mentioned list

In [69]:
list5

[99, 88, 87, 55, 44, 33, 22, 11, 11, 11, 10]

In [87]:
a = ["apple","orange", "bannas",12.5,122,False,"hello world"] 
a

['apple', 'orange', 'bannas', 12.5, 122, False, 'hello world']

In [88]:
b = a # pass by reference 
b

['apple', 'orange', 'bannas', 12.5, 122, False, 'hello world']

In [89]:
#list5 = list4.copy() 
c = a[:] # it will copy all the values from list a
c

['apple', 'orange', 'bannas', 12.5, 122, False, 'hello world']

In [90]:
del a[0]
print (a)
c

['orange', 'bannas', 12.5, 122, False, 'hello world']

['apple', 'orange', 'bannas', 12.5, 122, False, 'hello world']

In [91]:
listinlist = [111,222,['apple', 'orange', 'bannas','melon','mango']]

In [92]:
listinlist

[111, 222, ['apple', 'orange', 'bannas', 'melon', 'mango']]

In [93]:
listinlist [2] #simple indexing

['apple', 'orange', 'bannas', 'melon', 'mango']

In [94]:
listinlist [2][3] # list in list indexing, getting value of 2nd list index 3

'melon'

In [97]:
listinlist2 = [111,222,a] #calling list A in LIST listinlist

In [98]:
listinlist2

[111, 222, ['orange', 'bannas', 12.5, 122, False, 'hello world']]

In [101]:
del listinlist [2][3] # melon will delete from the list

In [102]:
listinlist

[111, 222, ['apple', 'orange', 'bannas']]

In [103]:
a = ["pakistan","usa","uae"]

In [108]:
print (a[0][0])

p

In [111]:
#Indexing of a string
print (a[0][0])
print (a[0][1])
print (a[0][2])
print (a[0][3])
print (a[0][4])
print (a[0][5])
print (a[0][6])
print (a[0][7])

p
a
k
i
s
t
a
n

In [117]:
for a in range(1,10):
    print(a)

1
2
3
4
5
6
7
8
9

# Slicing

In [115]:
listSlicing = [1,2,3,4,5,6,7,8,9]
# Index values[0,1,2,3,4,5,6,7,8]

In [119]:
listSlicing[2:8] #it will collect value from index 02 to 07, in slicing last value will be not be collected

[3, 4, 5, 6, 7, 8]

In [120]:
listSlicing[4:7]

[5, 6, 7]

In [122]:
listSlicing[0:5]

[1, 2, 3, 4, 5]

In [184]:
ls2 = ['apple','mango','banana','tree', 'pool']
print (ls2)
ls2.remove("pool")
print (ls2)

['apple', 'mango', 'banana', 'tree', 'pool']
['apple', 'mango', 'banana', 'tree']

In [136]:
newlist = [1,2,3,4,5,["a","b","c","d"]]

In [137]:
newlist[5].remove("b")
newlist

[1, 2, 3, 4, 5, ['a', 'c', 'd']]

In [139]:
newlist[5].insert(1,"hello")
newlist

[1, 2, 3, 4, 5, ['a', 'hello', 'hello', 'c', 'd']]

# Reverse Indexing

In [140]:
rlist=  [1, 2, 3, 4, 5, 6, 7, 8, 9]
#reverse[-9,-8,-7,-6,-5,-4,-3,-2,-1]

In [141]:
rlist[-1]

9

In [142]:
rlist [-6]

4

In [150]:
rlist [-5:-1]

[5, 6, 7, 8]

In [151]:
rlist [-5:]

[5, 6, 7, 8, 9]

# Lists: popping elements

In [179]:
rl2 = [1,2,3,4,5,6,7,8,9]
poppedElement=rl2.pop() # it will remove last member of the list

In [180]:
print(rl2)
poppedElement

[1, 2, 3, 4, 5, 6, 7, 8]

9

In [181]:
rl3 = [123,234,345,456,567,678,789]
poppedlist=[]

In [182]:

poppedElement=rl3.pop()
poppedlist.append(poppedElement)

In [185]:
print (rl3)
print (poppedElement)

[123, 234, 345, 456, 567, 678]
789