# Data Types
String
Intiger
Float

# Assignment:
How manay step sequences in Python

In [8]:
print ("Hello World") #String
type ("Hello World")

Hello World

str

In [9]:
print (45) # Numner (integer) Whole Number
type (45)

45

int

In [10]:
print (45.6) # (float) with demcimal value
type (45.6)

45.6

float

In [11]:
print ("132 word") #Number + Character = String
type ("132 word")

132 word

str

Data Type String will be in inverted commas ""

In [14]:
print ("hi",123,456.8, sep=" | ")

hi | 123 | 456.8

In [17]:
print ("Hello PIAIC", end="\t")
print ("Hello Karachi",)
print ("Hello Pakistan")

Hello PIAIC	Hello Karachi
Hello Pakistan

In [18]:
print (2+3)

5

In [19]:
print (str(2)+"Hello") #Type casting or Wraping.

2Hello

In [21]:
print (2+int("100")) #Type Casting or Wraping

102

In [32]:
#how to format string
name = "Fasih Ahmed"
age = 24
print ("My name is "+ name+ " and my age is "+str(age))

My name is Fasih Ahmed and my age is 24

In [34]:
#Using place holders like {};

print ("My name is {} and my age is {}" .format(name, age)) #By using format we can skip type casting. It follows w.r.t given order

My name is Fasih Ahmed and my age is 24

In [33]:
print ("My name is {1} and my age is {0}" .format(name, age))

My name is 24 and my age is Fasih Ahmed

In [36]:
print (f"My name is {name} and my age is {age}") #New way to use FORMAT

My name is Fasih Ahmed and my age is 24

In [39]:
#In python is not required to define data type
a=10.5

In [40]:
type(a)

float

In [42]:
b= False

In [43]:
type(b)

bool

In [50]:
print (4*"Hello ")

Hello Hello Hello Hello

In [62]:
#Double Slash (//) for intiger division
#Single slash for float division
a=10
b=3
c=a/b
c # works only when it's in last line of Code and it only display the value in C.
print (c)
round (c,3)

3.3333333333333335

3.333