# Slicing

In [13]:
a =    [22,33,44,11,77,88,99,111,222,3333,444,555,666]
#Index  0,01,02,03,04,05,06,07 ,08 ,09  ,10 ,11 , 12
a[1]

33

In [5]:
a[:4]

[22, 33, 44, 11]

In [8]:
a[2:7:1]

[44, 11, 77, 88, 99]

# Tuple

A tuple—pronounced "toople" by some people and "tupple" by others—is like a list, but the elements are fixed. They can't be changed—unless you redefine the whole tuple. Let's say you want to put together a collection of U.S. states in the order in which they were founded. If we limit the elements to the first four states to keep things simple, it would be, in their order of founding…
Delaware Pennsylvania New Jersey Georgia
We're confident these will always be the first four states, and their order won't change. We'll never need to replace one of them with another state. We'll never need to add another state. And, barring extraordinary events, we'll never need to delete one of them. So we create a tuple—a list that's written in stone. You code a tuple as you would a list, with one exception: states_in_order_of_founding = ("Delaware", "Pennsylvania", "New Jersey", "Georgia") Do you see the one way a tuple definition is different from a list definition? You use parentheses instead of square brackets. You pick a particular element out of a tuple the same way you pick an element out of a list: 1 second_state_founded = states_in_order_of_founding[1]

In [9]:
#tuples are immutable
t = ("fasih","ahmed",3434)
#packing

In [10]:
t

('fasih', 'ahmed', 3434)

In [11]:
type(t)

tuple

In [12]:
t[1]="hussain"

TypeError: 'tuple' object does not support item assignment

In [15]:
lst=["dad","alfa"]

# Loops
For loop & while loop

In [16]:
stds=["ali","shahzad","fasih","aashir"]
print (stds)

['ali', 'shahzad', 'fasih', 'aashir']

In [18]:
for std in stds: # it will grab one value from list
    print(std)

ali
shahzad
fasih
aashir

In [23]:
for a in range(10): # Print 0 ~ 9 numbers by using range
    print(a)

0
1
2
3
4
5
6
7
8
9

In [24]:
for a in range(1,10): # print numbers from 1 to 9 and drop 0
    print (a, end=" ") #end syntx used to break the line and print next value in same line

1 2 3 4 5 6 7 8 9

In [32]:
for a in range(0,10,2):#3rd parameter is called step value, it will print every second value of the given range
    print(a, end=" ")

0 2 4 6 8

In [33]:
for a in range(10,0,-1):#print 10 to 1 in reverse order
    print(a, end=" ")

10 9 8 7 6 5 4 3 2 1

In [3]:
table = int(input("Enter table number"))
for num in range (1,11):
    print(f"{table} * {num} = {table*num}")

Enter table number6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [4]:
table = int(input("Enter table number"))
for num in range (1,11):
    if num ==6:
        break
    print(f"{table} * {num} = {table*num}")

Enter table number5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25

In [6]:
table = int(input("Enter table number"))
for num in range (1,11):
    if num ==6:
        continue # it will skip 6th value so 5*6 will not print
    print(f"{table} * {num} = {table*num}")

Enter table number5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [10]:
table = int(input("Enter table number"))
r = int(input("enter table range"))
for num in range (1,r+1):
    print(f"{table} * {num} = {table*num}")

Enter table number5
enter table range12
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
5 * 11 = 55
5 * 12 = 60

# For Nested Loop

In [12]:
first_names = ["BlueRay ", "Upchuck ", "Lojack ", "Gizmo ", "Do-Rag "] 
last_names = ["Zzz", "Burp", "Dogbone", "Droop"]
full_names = []
for a_first_name in first_names:
    for a_last_name in last_names:
        full_names.append(a_first_name + " " + a_last_name)
full_names

['BlueRay  Zzz',
 'BlueRay  Burp',
 'BlueRay  Dogbone',
 'BlueRay  Droop',
 'Upchuck  Zzz',
 'Upchuck  Burp',
 'Upchuck  Dogbone',
 'Upchuck  Droop',
 'Lojack  Zzz',
 'Lojack  Burp',
 'Lojack  Dogbone',
 'Lojack  Droop',
 'Gizmo  Zzz',
 'Gizmo  Burp',
 'Gizmo  Dogbone',
 'Gizmo  Droop',
 'Do-Rag  Zzz',
 'Do-Rag  Burp',
 'Do-Rag  Dogbone',
 'Do-Rag  Droop']